<!doctype html>
<html>
<head>
    {% block head %}
    <title>Restaurants</title>
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/semantic/semantic.css') }}">
    <style>
        .ui.button.back-home {
            position: fixed;
            right: 120px;
            top: 0;
            z-index: 100;
        }

        .ui.button.sign-out {
            position: fixed;
            right: 0;
            top: 0;
            z-index: 100;
        }
    </style>
</head>
<body>
    {% if not context.guest %}
    <a href="/" class="ui button back-home">
        <i class="icon home"></i>
        <span>Back to homepage</span>
    </a>
    <a href="/signout" class="ui button sign-out">
        <i class="icon sign out"></i>
        <span>Sign out</span>
    </a>
    {% endif %}

    <div class="ui page grid">
        <div class="sixteen wide column">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/semantic/semantic.js') }}"></script>

</body>
</html>