{% extends 'base.html' %}
{% block body %}
<div class="ui secondary pointing menu">
    <h1>Menu for Restaurant "{{ context.restaurant.name }}"</h1>
</div>
{% include 'partials/flashed_messages.html' %}

{% if context.restaurant.user_id == context.user_id %}
<a class="ui button" href="{{url_for('newMenuItem', restaurant_id=context.restaurant.id )}}">New Menu Item</a>
{% endif %}

<div class="ui segment">
    <div class="ui list">
        {% for r in context.menu_items %}
        <div class="item">
            <div class="content">
                <div class="header">
                    <span>{{ r.name }}</span>
                </div>
                <div class="description">
                    <span>$ {{ r.price }}</span>
                    <span class="ui mini teal tag label">{{ r.course }}</span>

                    {% if r.user_id == context.user_id %}
                    <div>
                        <a href="{{ url_for('editMenuItem', restaurant_id=context.restaurant.id, menu_id=r.id) }}">Edit</a>
                        <a href="{{ url_for('deleteMenuItem', restaurant_id=context.restaurant.id, menu_id=r.id) }}">Delete</a>
                    </div>
                    {% endif %}

                    <div class="ui message">{{ r.description }}</div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}